# ==========================================
# API
# ==========================================

API_HOST=0.0.0.0
API_PORT=8000


# ==========================================
# POWER CONTROLLER
# USB LattePanda -> PCB / ESP32
# ==========================================

POWER_PORT=COM5
POWER_BAUDRATE=115200
POWER_TIMEOUT=2


# ==========================================
# HM30
# USB Type-C LattePanda -> HM30
# ==========================================

HM30_PORT=COM8
HM30_BAUDRATE=115200

# HM30 dianggap offline jika tidak ada
# MAVLink heartbeat selama X detik
HM30_HEARTBEAT_TIMEOUT=5


# ==========================================
# LOGGING
# ==========================================

LOG_LEVEL=INFO